@font-face {
    font-family: 'Concert One', cursive;;
    src: url(https://fonts.googleapis.com/css2?family=Concert+One&display=swap);
}


*, html {
    margin:0;
    padding:0;  
}  

body {
    font-family: 'Concert One', Verdana, Geneva, Tahoma, sans-serif;
    

  }

footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;   
 }

/* index page desktop*/

.checkbox {
    display: none;
}
#menu-checkbox {
    display: none;
}

.nav {
    display: none;
 }

    nav a {
    display: none;
    }

    .fa-solid  {
     display: none;

 }


.navigation{
    background-color: #2C3581;
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 30px 0 30px 0;
}


.navigation li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
}

.navigation li :hover {
    color: #9DA3D6;
}



.logo {
    float: left;
    color: #fff;
    padding-left: 25px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo-mobile {
    display: none;
}


.banner {
    width: 100%;
    display: block;
}

.banner-image {
    display: block;
    width: 100%;
    height: 400px;
}


.banner-image-mobile {
    display: none;
}
.banner-mobile > .banner-image {
    width: 100%;
    height: 455px;
    display: block;
    
}

.h1-index {
    text-align: center;
    color: #2C3581;
}

.h1-index-mobile {
 display: none;
}
.button {
    background-color: #2C3581;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 5px;
}
.button-mobile {
    display: none;
}

.button-styles1 {
    padding: 30px 0px 30px 0px;
    text-align: center;
    margin-right: 400px;
    
}
.button-styles2 {
    padding: 30px 0px 30px 0px;
    text-align: center;
    margin-top: -79px;
    margin-left: 350px;
    
}

.button-styles1mobile {
    display: none;
}

.button-styles2mobile {
    display: none;
}

.index-images1 {
    display: none;
}

.index-images2 {
    display: none;
}

.index-position {
    display: none;
}



.navigation-footer {
    background-color: #2C3581;
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 20px 0 30px 20px;
    bottom: 300px;

}

.navigation-footer li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}

.navigation-footer li a {
    text-decoration: none;
    color: #fff;
}

.navigation-footer li :hover {
    color: #9DA3D6;
}

.logo-footer {
    float: left;
    color: #fff;
    padding-left: 25px;
    font-weight: bold;
}

.logo-footer a {
    text-decoration: none;
    color: #fff;
}

.navigation-footer-mobile {
    display: none;
}

.logo-footer-mobile {
    display: none;
}

.logo-footer-mobile a {
    display: none;
}

.fa-solid {
    display: none;
}

/* Events Page */

.header-links1 {
    float:left;
}

.header-links2 {
    float: right;
}

.logo-header {
 width: 20px;
 height: 20px;
}

.navigation-otherpages {
    background-color: #fff;
    color: #2C3581;
    list-style: none;
    text-align: right;
    padding: 30px 0 30px 0;
}

.navigation-otherpages li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}

.navigation-otherpages li a {
    text-decoration: none;
    color: #2C3581;
}

.navigation-otherpages li :hover {
    color: #9DA3D6;
}

.logo-otherpages {
    float: left;
    color: #2C3581;
    padding-left: 25px;
    font-weight: bold;
}

.logo-otherpages a {
    text-decoration: none;
    color: #2C3581;
    
}

.CSMlogo {
    display: block;
    margin-left: 600px;
    margin-top: -150px;
}

.CSMlogo-phone {
    display: none;
}

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    
}

.container-mobile {
    display: none;
}

.box {
    position: relative;
    width: calc(1400px - 50px);
}

.box-mobile {
    display: none;
}


.container, 
.box {
    position: relative;
    width: calc(1400px - 50px);
    height: calc(300px - 50px);
    background-color: #D9D9D9;
    float: left;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0px;
    
}

.container-mobile, 
.box-mobile {
    display: none;
    
}

.content {
    color: #000;
    display: block;
}


.content-mobile {
    display: none;
}




.lab-image {
    display: block;
    margin-left: 100px;
    margin-top: -90px;
    

}

.lab-image-mobile {
    display: none;
}


.what {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    
   
}

.what-mobile {
    display: none;
     
  }

.when {
    display: block;
    margin-top: -30px;
    margin-left: 400px;
}

.when-mobile {
    display: none;
 }

.firkant {
    background-color: #fff;
    height: 25px;
    width: 180px;
    margin-left: 30px;
    margin-top: 10px;
    
   
}

.firkant-mobile {
    display: none;
     
 }

.firkant1 {
    background-color: #fff;
    height: 25px;
    width: 180px;
    margin-left: 400px;
    margin-top: -25px;

    
}


.firkant1-mobile {
    display: none;
 }

.choose-1 {
    margin-left: 45px;
    margin-top: 12px;
    font-size: 12px;
    float:left;
    display: inline;
}

.choose-1-mobile {
    display: none;
  }
  

.choose-2 {
    margin-left: 280px;
    margin-top: 12px;
    font-size: 12px;
    float:left;
    display: inline;
}

 .choose-2-mobile {
    display: none;
 }

 .fa-solid {
    display: none;
}

/* SPACE PAGE DESKTOP*/

.background-image {
    display: block;
    background-color: #000;
    background-image: url(../images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;


    
} 

    .CSMlogo-phonespace {
        display: none;
    }

.background-image-mobile {
    display: none;
}

.navigation-otherpages-white {
    
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 30px 0 30px 0;
    margin-top: -750px;
}

.navigation-otherpages-white li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}

.navigation-otherpages-white li a {
    text-decoration: none;
    color: #fff;
}

.navigation-otherpages-white li :hover {
    color: #9DA3D6;
}

.logo-otherpages-white {
    float: left;
    color: #fff;
    padding-left: 25px;
    font-weight: bold;
}

.logo-otherpages-white a {
    text-decoration: none;
    color: #fff;
    
}

.maintextspace {
    display: block;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: -90px;
}

.spaceimages {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 500px));
    grid-gap: 80px;
    margin-left: 30px;
 }


 .spacetext1 {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,500px));
    grid-gap: 80px;
    margin-left: 50px;
 }

 .spacetext2{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,500px));
    grid-gap: 80px;
    margin-left: 50px;
    
 }

 .spacetext3 {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,500px));
    grid-gap: 80px;
    margin-left: 90px;
    margin-top: 10px;
 }
 .maintextspace-mobile {
    display: none;
    
 }

.spaceimages-mobile {
    
    display: none;
 }


 .spacetext1-mobile {
   display: none;
 }

 .spacetext2-mobile {
    display: none;
 }

 .spacetext3-mobile {
    display: none;
 }


 .checkbox2 {
    display: none;
}
#menu-checkbox2 {
    display: none;
}

.nav {
    display: none;
 }

    nav a {
    display: none;
    }

    .fa-solid  {
     display: none;

 }


 /* EARTH NOW AND THEN PAGE DESKTOP*/

 .navigation-footer-green {
    background-color: #2C8179;
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 20px 0 30px 20px;
    bottom: 10px;

}

.navigation-footer-green li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}

.navigation-footer-green li a {
    text-decoration: none;
    color: #fff;
}

.navigation-footer-green li :hover {
    color: #9dd6b2;
}

/* Media Queries*/

@media screen and (min-width: 350px ) and (max-width:480px) {

    body {
       
    }

    display: grid;
    grid-template-rows: repeat(1, minmax(0, 100px));
    grid-gap: 10px;


     .navigation {
       display: none;
    }
    
     .navigation li {
        display: none;
    }

     .navigation li a {
        display: none;
    }

     .navigation li :hover {
        display: none;
     }
    
     .logo {
        display: none;
     }
    

    .banner {
        display: none;
    }
    
    .banner-mobile {
        display: block;
        margin: 0;
    }

    .banner-image-mobile {
        width: 100%;
        height: 200px;
        display: block;
    }
    
    .banner > .banner-image-mobile {
        width: 100%; 
        height: 200px;
        display: block;
        
    }
   
    .h1-index {
    display: none;
 }

   .h1-index-mobile {
   text-align: center;
   font-size: 22px;
    color: #2C3581;
    display: block;
    margin-top: 20px;
 }

 .button {
    display: none;
 }

 .button-mobile {
    background-color: #2C3581;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    display: block;
    
 }
 .button-styles1 {
    display: none;
 }

 .button-styles2 {
    display: none;
 }
 .button-styles1mobile {
    padding: 10px 0px 10px 0px;
    height: 100px;
    width: 120px;
    margin-left: 45px;
    margin-top: 20px;
    text-align: center;
    display: block;
    
 }

 .button-styles2mobile {
    padding: 10px 0px 10px 0px;
    height: 100px;
    width: 120px;
    margin-left: 200px;
    margin-top: -120px;
    text-align: center;
    display: block;
 }


 .index-images1 {
    max-width: 480px;
    height: 150px;
    display: block;
 }

 .index-images2 {
    max-width: 480px;
    height: 150px;
    display: block;
 }
 .index-position {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 200px));
    grid-gap: 0;
    margin-top: -30px;
 }

 /* Hamburger-menu mobile version*/

  .navigation { 
    display: none;
}

nav, 
#menu-checkbox {
  display:none;
}

#menu-checkbox:checked ~ nav {
  display:block;
}

header {
  position:relative;
}

nav {
  position: absolute;
  background: #2C3581;
  margin-left: 10px;
  
}


nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0, 10px 0;
}


  .fa-solid  {
    color: #000;
    background-color: #2C3581;
    size: 50px;
    display: block;
    margin-left: 20px;
}


nav, 
#menu-checkbox2 {
  display:none;
}

#menu-checkbox2:checked ~ nav {
  display:block;
}

header {
  position:relative;
 
}

nav {
  position: absolute;
  background: #2C3581;
  margin-left: 10px;
  
}


nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0, 10px 0;
}


  .fa-solid  {
    display: block;
    color: #000;
    background-color: #fff;
    size: 50px;
    display: block;
    margin-left: 20px;
}



    /* EVENTS MOBILE VERSION */

    .navigation-otherpages {
        display: none;
    }

    .CSMlogo {
        display: none;
    }

    .CSMlogo-phone {
        display: block;
        margin-left: 80px;
        margin-top: -80px;
        margin-bottom: 50px;
    
    
    }


    .container {
       display: none;
        
    }
    
    .box {
        display: none;
    }
    
    .container, 
    .box {
        display: none;
        
    }
    
    .content {
       display: none;
    }

    
    
    .lab-image {
        display: none;
    
    }
    
    
    .what {
      display: none;
       
    }
    
    .when {
       display: none;
    }
    .firkant {
        display: none;
        
       
    }
    
    .firkant1 {
        display: none;
    }
    
    .choose-1 {
       display: none;
    }
    
    .choose-2 {
        display: none;
    }
    

    .container-mobile {
        display: block;
        position: relative;
        width: 400px;
        height: 150px;
        margin: 120px auto;
         
     }
     
     .box-mobile {
        display: block;
        position: relative;
        width: calc(700px - 25px);
       
     }
     
     .container-mobile, 
     .box-mobile {
        display: block;
        position: relative;
        width: calc(360px - 25px);
        height: calc(150px - 25px);
        background-color: #D9D9D9;
        float: left;
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 0px;
        margin-bottom: 80px;
         
     }
     
     .content-mobile {
        display: block;
        color: #000;
        display: block;
        margin-left: 15px;
        font-size: 9px;
     }
     
     
     
     
     .lab-image-mobile {
        display: block;
        margin-left: 10px;
        margin-top: -45px;
     
     }
     
     
     .what-mobile {
        display: block;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 15px;
        
     }
     
     .when-mobile {
        display: block;
        font-size: 10px;
        margin-top: -20px;
        margin-left: 200px; 
     }
     .firkant-mobile {
        display: block;
        background-color: #fff;
        height: 12.5px;
        width: 90px;
        margin-left: 15px;
        margin-top: 5px;
         
     }
     
     .firkant1-mobile {
        display: block;
        background-color: #fff;
        height: 12.5px;
        width: 90px;
        margin-left: 200px;
        margin-top: -12.5px;
     }
     
     .choose-1-mobile {
        display: block;
        margin-left: 22.5px;
        margin-top: 6px;
        font-size: 7px;
        float:left;
        display: inline;
     }
     
     .choose-2-mobile {
        display: block;
        margin-left: 140px;
        margin-top: 6px;
        font-size: 7px;
        float:left;
        display: inline;
     }
     
    

    

      /* SPACE PAGE MOBILE VERSION*/

     .background-image {
        display: none;
    }



    .CSMlogo {
        display: none;
    }

    .CSMlogo-phonespace {
        display: block;
        margin-left: 90px;
        margin-top: -1200px;
        margin-bottom: 50px;
    
    
    }

    .background-image-mobile {
        display: block;
        background-color: #000;
        background-image: url("../images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 1200px;
        width: auto; 
    }

    .navigation-otherpages-white {
        display: none;
    }

    .logo-otherpages-white {
        display: none;
    }

    .maintextspace {
        display: none;
    }
    
    .spaceimages{
        display: none;
     }
    
    
     .spacetext1 {
        display: none;
     }
    
     .spacetext2{
        display: none;
     }
    
     .spacetext3 {
        display: none;
     }
   

    .maintextspace-mobile {
        display: block;
        color: #fff;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
        margin-top: -100px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .spaceimages-mobile {
        
        display: grid;
        grid-template-rows: repeat(3, minmax(0, 250px));
        grid-gap: 40px;
        margin-left: 70px;
        
     }
    
    
     .spacetext1-mobile {
        color: #fff;
        display: grid;
        grid-template-rows: repeat(3, minmax(0, 250px));
        grid-gap: 40px;
        margin-left: 55px;
        margin-top: -650px;
        font-size: 10px;
     }
    
     .spacetext2-mobile{
        color: #fff;
        display: grid;
        grid-template-rows: repeat(3, minmax(0,250px));
        grid-gap: 40px;
        font-size: 10px;
        margin-top: -800px;
        margin-left: 80px;
        
     }
    
     .spacetext3-mobile {
        color: #fff;
        display: grid;
        font-size: 15px;
        grid-template-rows: repeat(3, minmax(0,250px));
        grid-gap: 50px;
        margin-left: 90px;
        margin-top: -790px;
       
     }
   
     .checkbox2 {
        display: block;
     }

        nav, 
        #menu-checkbox2 {
        display:none;
        }

        #menu-checkbox2:checked ~ nav {
       display:block;
        }

        header {
        position:relative;
 
        }

        nav {
        position: absolute;
        background: #2C3581;
        margin-left: 10px;
  
        }


        nav a {
        text-decoration: none;
        color: #fff;
        padding: 10px 0, 10px 0;
        }


        .fa-solid  {
        display: block;
        color: #fff;
        background-color: #2C3581;
        size: 50px;
        display: block;
        margin-left: 20px;
        }   

   /* footer mobile version*/

   .navigation-footer {
    display: none;

}

   .navigation-footer li {
   display: none;
}

   .navigation-footer li a {
    display: none;
}

   .navigation-footer li :hover {
    display: none;
}

   .navigation-footer-mobile {
    display: block;
    background-color: #2C3581;
    color: #fff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 10px;
    bottom: 0;

}

   .navigation-footer-mobile li  {
    display: inline-block;
    padding-right: 20px;
    font-size: 8px;
}

   .navigation-footer-mobile li a {
    text-decoration: none;
    color: #fff;
}

   .navigation-footer-mobile li :hover {
    color: #9DA3D6;
}

   .logo-footer-mobile {
    float: left;
    color: #fff;
    padding-left: 12px;
    font-weight: bold;
}

  .logo-footer-mobile a {
    text-decoration: none;
    color: #fff;
}

    }

   
